header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 4rem;
}

nav {
  display: flex;
  gap: 1rem;
}

main {
  position: relative;
  display: flex;
  overflow: auto;
  flex: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

.current {
  color: #333;
}
