.Pokemon {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 15rem;
  margin: auto;
}

p {
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.caught img {
  filter: none;
}

img {
  height: 15rem;
  object-fit: cover;
  filter: contrast(0%) brightness(200%);
}
